<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
</head>
<body>
	<div class="sidebar">
		<nav class="sitenav" aria-labelledby="nav-title">
			<h1 id="nav-title">{{ title }}</h1>
			<ul role="list">
				{% for snippet in collections.orderedSnippets %}
				<li><a href="#{{ snippet.data.title | slug }}">{{ snippet.data.title }}</a></li>
				{% endfor %}
			</ul>
		</nav>
		<footer>
			<p>Created by<br> <a href="https://twitter.com/5t3ph">Stephanie Eckles</a></p>
			<p>⭐️ <a href="https://github.com/5t3ph/htmlrecipes">Star on GitHub</a></p>
		</footer>
	</div>
	<main>
	{{ content | safe }}
	</main>
</body>
</html>