---
layout: base.njk
---
<div class="sidebar">
  <header>
    <h1>📝 {{ title }}</h1>
    <p>Created by<br> <a href="https://twitter.com/5t3ph">Stephanie Eckles</a></p>
    <p>⭐️ <a href="https://github.com/5t3ph/htmlrecipes">Star on GitHub</a><br><em>Contributions welcome!</em></p>
  </header>
  <nav class="sitenav" aria-labelledby="nav-title">
    <h2 id="nav-title">Snippets</h2>
    <ol>
      {% for snippet in collections.orderedSnippets %}
      <li><a href="#{{ snippet.data.title | slug }}">{{ snippet.data.title }}</a></li>
      {% endfor %}
    </ol>
  </nav>
</div>
<main>
{{ content | safe }}
</main>