/* Very Smol Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

/* Layout */

body {
  display: grid;
  row-gap: 5vh;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: #222;

  .sidebar {
    text-align: center;
  }

  @media (min-width: 100ch) {
    grid-template-columns: auto minmax(0, 1fr);

    .sidebar {
      text-align: left;
    }

    main {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.sidebar,
main {
  padding: 2rem;
}

.sidebar {
  .sitenav {
    ul {
      display: grid;
      gap: 1rem;
      list-style: none;
      margin: 2rem 0 0;
      padding: 0;
      font-size: 1.15rem;
    }
  }

  footer {
    margin-top: 2rem;
    font-size: 0.9rem;

    p + p {
      margin-top: 1em;
    }
  }
}

.sidebar,
main {
  width: min(100%, 100vw, 120ch);
}

/* Typography */

:is(h1, h2:not(.anchor *), h3) {
  line-height: 1.2;
  margin-bottom: 0.65em;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

main > p {
  margin-top: 1em;
  font-size: 1.15rem;
}

a {
  color: navy;
  text-underline-offset: 0.08em;
}

a:focus {
  outline: 1px solid currentColor;
  outline-offset: 0.2em;
}

[id] {
  scroll-margin-top: 2em;
}

.anchor {
  display: grid;
  grid-template-columns: min-content auto;

  &:not(:first-of-type) {
    margin-top: max(8vh, 4rem);
  }

  a {
    grid-row-start: 1;
    align-self: start;
    font-size: 1rem;
    line-height: 1;
    transform: translateX(-50%) translateY(25%);
    text-decoration: none;
    opacity: 0.75;
  }
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Media */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Supporting Content */

blockquote {
  width: fit-content;
  margin: 2rem 0;
  padding: 0.5em 1rem;
  border-left: 3px solid rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0 0.25rem 0.25rem 0;
}
