---
title: Article
templateEngineOverride: md, njk
---
{%- set description -%}

**Note:** An `hr` is intended as "[a thematic break between paragraph-level elements](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr)" and should _not_ be used for visual presentation only. If your intent is to provide a visual flourish, one alternative would be to add a class to the element before or after the visual break to add a styled border.

{%- endset -%}
{%- set html -%}
<article>
  <h2>Lorem ipsum dolor sit.</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <strong>Reiciendis nulla iste temporibus voluptatem</strong> sed laudantium eos fugiat fuga qui inventore placeat ullam voluptate pariatur exercitationem obcaecati, veniam debitis quisquam velit.</p>
  <p>Ipsam nam iusto officia natus maxime inventore voluptatibus? Iste possimus veniam ipsum <a href="#">repellendus, ad tenetur ullam saepe impedit error</a>. Corrupti quas animi autem rem fugit ratione eligendi vero labore facilis.</p>
  <hr>
  <p>Aliquam delectus id sunt possimus, culpa repudiandae recusandae eius ex distinctio dolor ipsum voluptatem nam accusamus enim quasi dolorum. Corporis, repellendus. Ullam doloremque quam amet odio est culpa optio totam.</p>
  <ul>
    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
    <li>Ut, ea rerum. Ipsa ullam iusto nihil aliquam.</li>
    <li>Reprehenderit veritatis officia dolores iste consequatur. Enim, voluptatibus?</li>
  </ul>
  <h3>Lorem ipsum dolor sit.</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nesciunt tempora iure animi tenetur perspiciatis nam provident quas minima tempore dolorum necessitatibus blanditiis quia officiis modi similique, nihil at! Recusandae?</p>
  <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
  <ul>
    <li>Lorem ipsum dolor sit.</li>
    <li>Eius excepturi voluptate quisquam.</li>
    <li>Placeat ut deleniti eveniet!</li>
    <li>Dolor neque ipsa dolores!</li>
    <li>Aspernatur consequuntur a ipsam!</li>
  </ul>
  <blockquote>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id ipsum quasi quidem voluptas aliquam?</p>
  </blockquote>
  <h2>Lorem ipsum dolor sit.</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
  <a href="#">Lorem, ipsum dolor.</a>
</article>
{%- endset -%}
{% include "code.njk" %}

