---
title: Blockquote
order: 7
templateEngineOverride: md, njk
---
{%- set html -%}
<blockquote>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
</blockquote>
{%- endset -%}
{% include "code.njk" %}

