---
title: Button Group
contributorsName: Michael W. Delaney
contributorsURL: https://michaeldelaney.me
templateEngineOverride: md, njk
---
{%- set html -%}
<div role="group" aria-label="Lorem ipsum.">
  <button type="button">Lorem</button>
  <button type="button">Ipsum</button>
  <button type="button">Dolor</button>
</div>
{%- endset -%}
{% include "code.njk" %}
