---
title: Collapsible FAQs
contributorsName: Saptak S
contributorsURL: https://saptaks.website
templateEngineOverride: md, njk
---
{%- set description -%}

The `details` and `summary` elements [are very well supported](https://caniuse.com/details) as a native HTML way to provide collapsible content sections, such as for FAQs.

⚠️ **Caution**: Beware of using them for purposes beyond simple content disclosure sections due to accessibility concerns. [Learn more about appropriate using details/summary](https://adrianroselli.com/2019/04/details-summary-are-not-insert-control-here.html) from Adrian Roselli.

{%- endset -%}

{%- set html -%}
<details>
  <summary>Proin eget velit vel lectus elementum pharetra?</summary>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique
  venenatis dui eget iaculis. Donec varius metus at augue sollicitudin,
  vitae cursus dui faucibus. Quisque vulputate pulvinar ante at congue.
</details>

<details>
  <summary>Vivamus consectetur orci sed eros ultricies tincidunt?</summary>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis,
  purus vitae dapibus tincidunt, purus purus maximus libero, et auctor est
  lacus id nunc. Cras convallis gravida nulla eu vulputate.
</details>

<details>
  <summary>Lorem ipsum dolor sit amet?</summary>
  Aenean in nunc lectus. Morbi nec sem auctor, tincidunt nisl nec, rutrum nisl.
  Nulla viverra id enim ut fringilla. Morbi vulputate bibendum.
</details>
{%- endset -%}
{% include "code.njk" %}
