---
title: Figure
contributorsName: Michael W. Delaney
contributorsURL: https://michaeldelaney.me
templateEngineOverride: md, njk
---
{% set description %}
  Usually a an image, illustration, diagram, code snippet, etc. Read about the `<figure>` tag and its uses <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure">here at <abbr title="Mozilla Developer Network">MDN</abbr></a>. If your use case doesn't require a caption, the `<figcaption>` can be omitted.

  Writing separate content for the `<figcaption>` element and the image's _alt_ attribute can be a confusing. Generally speaking the _alt_ attribute should describe the contents of the picture, while the `<figcaption>` element's purpose can vary depending on the nature of the `<figure>` it's captioning.

  Read about how to write `<figcaption>` and _alt_ text in an assistive and accessible way in [Elaina Natario's article "Alt vs Figcaption"](https://thoughtbot.com/blog/alt-vs-figcaption).
{% endset %}
{%- set html -%}
<figure>
  <img src="https://source.unsplash.com/400x300/?dinosaur" alt="" width="400" height="300">
  <figcaption>Lorem ipsum dolor sit.</figcaption>
</figure>
{%- endset -%}
{% include "code.njk" %}
