---
title: Hero - Article
templateEngineOverride: md, njk
---
{%- set html -%}
<header>
  <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
  <p><em>Published on: <time datetime="2021-07-24">July 24</time></em></p>
  <p><small><strong>Written by</strong>: Stephanie Eckles</small></p>
</header>
{%- endset -%}
{% include "code.njk" %}

