---
title: Hero - Marketing
order: 5
templateEngineOverride: md, njk
---
{%- set html -%}
<header>
  <h1>Lorem ipsum dolor sit.</h1>
  <a href="#">Sign Up</a>
</header>
{%- endset -%}
{% include "code.njk" %}

