---
title: List
order: 1
templateEngineOverride: md, njk
---
{%- set html -%}
<ul>
  <li>Lorem ipsum dolor sit.</li>
  <li>Expedita perferendis saepe quas.</li>
  <li>Dolorem at fugit quam.</li>
</ul>
{%- endset -%}
{% include "code.njk" %}

