---
title: Numbered List
contributorsName: Stephanie Henson
contributorsURL: https://github.com/s-hens
templateEngineOverride: md, njk
---
{%- set html -%}
<ol>
  <li>Lorem ipsum dolor sit.</li>
  <li>Expedita perferendis saepe quas.</li>
  <li>Dolorem at fugit quam.</li>
</ol>
{%- endset -%}
{% include "code.njk" %}
