---
title: Video
contributorsName: Michael W. Delaney
contributorsURL: https://michaeldelaney.me
templateEngineOverride: md, njk
---
{% set description %}
  The `<video>` tag has many optional attributes that affect the display of the video content and its controls. You can find complete details <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video">here at <abbr title="Mozilla Developer Network">MDN</abbr></a>.

  Accessibility for multimedia content is complicated. <abbr title="Mozilla Developer Network">MDN</abbr>'s [article on the subject](https://developer.mozilla.org/en-US/docs/Learn/Accessibility/Multimedia) is helpful.

  The content of the `<video>` tag will be seen by browsers that don't support video.
{% endset %}
{%- set html -%}
<video>
  <source src="/assets/video.mp4" type="video/mp4">
  <p>Lorem ipsum dolor sit.</p>
</video>


{%- endset -%}
{% include "code.njk" %}
