---
layout: home.njk
title: HTML Recipes
---

{% for snippet in collections.orderedSnippets %}
<div class="anchor">
  <h2 id="{{ snippet.data.title | slug }}">{{ snippet.data.title }}</h2>
  <a href="#{{ snippet.data.title | slug }}">
    <span aria-hidden="true">#</span>
    <span class="hidden">Snippet titled {{ snippet.data.title }}</span>
  </a>
</div>
{% if snippet.data.contributorsName %}
{%- set contributor -%}
  {% if snippet.data.contributorsURL %}
    <a href="{{ snippet.data.contributorsURL }}">{{ snippet.data.contributorsName }}</a>
  {% else %}
    {{ snippet.data.contributorsName }}
  {% endif %}
{%- endset -%}
<p class="contributor">💙 <em>Contributed by: {{ contributor | safe }}</em></p>
{% endif %}
{{ snippet.templateContent | safe }}
{% endfor %}